{% extends 'course/basic.html'  %}
{% block title %} Assignments {%  endblock  %}
{% block body %}
<div class="container" style="margin-top:5%;">
    <div class="row">
    {% for k,v in assignments.items %}
    <div class="col-md-6">
        <div class="card" style="background-color: rgb(235, 192, 52,0.6);">
            <div class="card-body">
                <h2>{{k}}</h2>
                {% for a in v%}
                    {% if a.notgiven %}
                        <div class="card text-white bg-danger" style="margin-bottom: 2%;">
                            <div  class="card-header" style="font-size: 1.2em;">{{a.ass_name}}</div>
                            <div class="card-body">NOT SUBMITTED</div>
                        </div>        
                        {% else %}
                        <div class="card text-white bg-success" style="margin-bottom: 2%;">
                            <div class="card-header"><a href="/assignments/{{a.id}}"><span style="color: white;font-size: 1.2em;">{{a.ass_name}}</span></a></div>
                            <div class="card-body">{{a.days_left}} days and {{a.hour_left}} hours left<br>
                            Complete By:{{a.end_date.day}}/{{a.end_date.month}}/{{a.end_date.year}}
                            </div>
                        </div>
                        {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
    {% endfor%}
    </div>  
</div>
{% endblock %}
