{% extends 'course/basic.html'  %}
{% block title %} Result {%  endblock  %}
{% block body %}
<div class="card" style="width: 50%;margin-left: 5%;margin-top: 5%;">
    <div class="card-header">{{quiz.quiz_name}}</div><br>
    <div class="card-body">
        <div style="margin-bottom: 3%;font-size: 1.4em;color:black;">You got {{correct}} questions correct out of {{total}} questions</div>
       <div class="card-body">
        <a href="/courseView/{{course.id}}">Go to Course Page</a>
       </div>
    </div>
</div>
    
{% endblock %}